.left {
    float:left;
    align-self:left;
    color: "#1DB954";
    font-weight: bold;
    margin-left: 0.5%;
}
.right {
    align-content:right;
    text-align:right;
    float:right;
}
.span {
    width:100vw;
}
.green {
    color: #1DB954;
}
.background {
    color: #828282;
    height: 100vh;
    width:100vw;
    background-color: #434541;
}
.playlistCard {
    width:48vw;
    margin:1%;
    border:solid;
    background-color:#2b2e29;
    border-color: green;
}
.cardRow {
    display:flex;
}
.white {
    color:white;
}
.centerText {
    color:white;
    font-weight:bolder;
    font-size:30px;
    text-align:center;
}